@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$dark-blue: #81C3D7;
$light-blue: #9bd1e1;
$default-text-color: #3d4a4f;
$caption-grey: rgb(110, 110, 110);
$normal-font: 'Montserrat', sans-serif;

* {
  margin: 0 0;
}

body {
  font-family: $normal-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: $default-text-color;
}

main {
  width: 90%;
  margin: calc(60px + 20px) auto 0;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 375px) {
  main {
    width: 96%;
    margin: 0 auto;
  }
}