#main-section {
  width: 60%;
  margin: 5rem auto;
}

#input-section {
  height: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#favorite-cities {
  width: 20%;
  height: 100%;
}

#search-city {
  width: 20%;
  height: 100%;
}

#current-weather-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#city-name-line {
  width: 50%;
  height: 50px;
  position: relative;
}

#city-name {
  text-align: center;
}

#favorite-star {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  opacity: 0;
}