@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@media (width > 768px) {
  html {
    font-size: 16px;
  }
}
@media (width <= 768px) {
  html {
    font-size: 12px;
  }
}

body {
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 32px 32px;
  background-repeat: repeat;
  background-position: center center;
}

main {
  width: 95%;
  max-width: 1200px;
  margin: 1.5rem auto;
}
main .section .section-title {
  font-size: 2rem;
}

@media (width <= 768px) {
  .section-title {
    text-align: center;
  }
}
.status-bar {
  width: 100%;
  height: 1rem;
  background-color: #01487e;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 1px 3px #7e7e7e;
}
header .header-content {
  width: 95%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
header .header-content h1 {
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #01487e;
  text-shadow: 1px 1px 1px #898989;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .header-content .select-city {
  width: 50%;
  max-width: 500px;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
header .header-content .select-city .favorite-cities,
header .header-content .select-city .search-city-box {
  width: 45%;
}
header .header-content .select-city .favorite-cities,
header .header-content .select-city .search-city {
  height: 2.5rem;
  padding-left: 5px;
  border: none;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 5px #d8d8d8;
  font-size: 1rem;
}
header .header-content .select-city .search-city-box {
  position: relative;
}
header .header-content .select-city .search-city-box .search-city {
  width: 100%;
}
header .header-content .select-city .search-city-box .clear-input {
  cursor: pointer;
  position: absolute;
  inset: 50% 0 auto auto;
  transform: translate(-50%, -50%);
}
header .header-content .select-city .search-city-box .search-city::-moz-placeholder {
  color: gray;
}
header .header-content .select-city .search-city-box .search-city::placeholder, header .header-content .select-city .search-city-box .clear-input {
  color: gray;
}

@media (width <= 768px) {
  header {
    height: auto;
    padding-block: 1rem;
  }
  header .header-content {
    flex-direction: column;
    row-gap: 1rem;
  }
  header .header-content .select-city {
    width: min(100%, 360px);
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 1rem;
  }
  header .header-content .select-city .favorite-cities, header .header-content .select-city .search-city-box {
    width: 100%;
  }
}/*# sourceMappingURL=header.css.map */