#header {
  position: fixed;
  top: 0;

  width: 100%;
  height: 60px;
  background-color: #81C3D7; // Change this if you want
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 375px) {
  #header {
    position: static;
  }
}