body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    
}


.threeH-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
    gap: 1.5rem;
    background-color: #81C3D7;
    flex-wrap: wrap;
    
    height: 20rem;
    margin: 0 0 1rem 0;
    border-radius: 0.5rem;
}

.threeH-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9bd1e1;
    width: 10%;
    height: 15rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    


    img:hover {
        opacity: 0.8;
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
    }

    .rangeH {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        margin: 0.5rem 0 0.5rem 0;
        font-size: 1rem;
    }

    //Weather Ranges
    .weatherRange0 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;
    }

    .weatherRange1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;

    }

    .weatherRange2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;
    }

    .weatherRange3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;
    }

    .weatherRange4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;
    }

    .weatherRange5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;
    }

    .weatherRange6 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;
    }

    .weatherRange7 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: 120%;
    }

    //Degrees

    $degrees-font-size: 1.5rem;

    .threeHRange-degrees0 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    .threeHRange-degrees1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    .threeHRange-degrees2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    .threeHRange-degrees3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    .threeHRange-degrees4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    .threeHRange-degrees5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    .threeHRange-degrees6 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    .threeHRange-degrees7 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:#3d4a4f;
        font-size: $degrees-font-size;

    }

    
}

@media only screen and (max-width: 376px) {
    .threeH-box {
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
        padding: 5% 0;
    }

    .threeH-container {
        width: 90%;
        height: auto;
        flex-direction: row;
        align-items: center;
        padding: 0 ;
        margin: 0 2% 0 2%;
    }

    .rangeH {
        padding-right: 1rem;
    }

    .weatherImg{
        width: 20%;
        height: auto;
    }
}

