body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.threeH-title {
    margin-left: 5rem;
}

.threeH-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #81C3D7;
    height: 14rem;
    margin: 1rem 5rem 1rem 5rem;
    border-radius: 0.5rem;
}

.threeH-container {
    display: flex;
    justify-content: flex-start; 
    flex-direction: column;
    background-color: white;
    width: 7rem;
    height: 12rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
